.side-menu {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--bg-color);
  border-radius: 0 15px 15px 0;
  border-left: 2px solid var(--input-color);
  overflow-y: auto;

  h3 {
    margin: 18.72px 0 0.5rem 2rem;
    color: var(--icon-color);
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
  }

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.user {
  display: flex;
  align-items: center;
  margin-left: 2rem;

  img {
    width: 5px;
    height: 5px;
    margin: 0.5rem;
    pointer-events: none;
    user-select: none;
  }

  p {
    color: var(--main-color);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}